
header{
    background-color: rgb(71, 46, 184);
    padding: 0.5rem 0;
    position: sticky; /* bikin nempel di atas */
    top: 0; /* posisinya di paling atas */
    z-index: 1000; /* supaya di atas elemen lain */
}
header .container {
    display: flex;
    justify-content: space-between; /* kiri & kanan */
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 0 20px 0 0;

}

.logo-title {
    display: flex;
    align-items: center;
}
.logo-title h1 {
    font-size: 14pt;
    color: aliceblue;
}
.logo {
    height: 60px; /* ukuran logo */
    margin-right: 10px;
    border-radius: 25%;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 15pt;
}
nav a.active {
    border-bottom: 2px solid rgb(252, 252, 248);
}
nav a:hover {
    text-decoration: underline;
}


/* Tombol hamburger (disembunyikan default) */
.hamburger {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        background: rgb(71, 46, 184);
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
    }

    nav a {
        margin: 10px 0;
        font-size: 14pt;
    }

    .hamburger {
        display: block;
    }

    nav.show {
        display: flex;
    }
}
